/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/ap_include.am
/apertium-nno.pc
/autom4te.cache
/config.log
/config.status
/configure
/configure~
/install-sh
/missing
/modes
/nno.autogen.att.gz
/nno.autogen.bin
/nno.autopgen.bin
/nno.automorf-no-cp.bin
/nno.automorf.att.gz
/nno.automorf.bin
/nno.rlx.bin
/nno.syn.rlx.bin
/nno_e.autogen.bin
/nno_a_vi.autogen.bin
/nno_e_me.autogen.bin
/nno_e_vi.autogen.bin
/nno.prefs.rlx.bin
/nno.e_vi_prefs.rlx.bin
/*.hfst
/*.zhfst
/.DS_Store
/*.mode
/*-*.prob
/.deps
/config.in
/config
/test/*-output.txt
/nno.seg.rlx.bin
