/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/ap_include.am
/apertium-nno.pc
/autom4te.cache
/config.log
/config.status
/configure
/install-sh
/missing
/modes
/nno.autogen.att.gz
/nno.autogen.bin
/nno.autopgen.bin
/nno.automorf-no-cp.bin
/nno.automorf.att.gz
/nno.automorf.bin
/nno.rlx.bin
/nno.syn.rlx.bin
/nno_e.autogen.bin
