* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-nno.nno.dix -text
/apertium-nno.nno.rlx -text
/apertium-nno.nno.syn.rlx -text
/apertium-nno.nno.tsx -text
/apertium-nno.pc.in -text
/autogen.sh -text
/configure.ac -text
dev/make-ngrams.sh -text
/modes.xml -text
/nno.prob -text svneol=unset#unset
/rem-compounds.xsl -text svneol=unset#application/xml
/test-scandivoc -text
texts/frode_grytten.txt -text
texts/ngrams.1 -text
texts/ngrams.2 -text
texts/ngrams.3 -text
texts/ngrams.4 -text
texts/ngrams.5 -text
texts/udhr.txt -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
